@model IEnumerable<ExpenseDiary.Models.ExpenseReport>

@{
    ViewData["Title"] = "Index";
}

<h1>Expense History</h1>


<p>
    <a asp-action="Create">
        <img src="~/add.gif" />
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ItemId" style="text-decoration:none;color:black;"><i class="fa-regular fa-pen-to-square"></i></a>
                @*<a asp-action="Details" asp-route-id="@item.ItemId">Details</a>*@
                <a>|</a>
                    <a asp-action="Delete" asp-route-id="@item.ItemId" style="text-decoration:none;color:black;"><i class="fa-regular fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
